/* Space out content a bit */
body {
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.footer .container {
	padding: 20px;
}

.square-gradient-bar {
	height: 15px;
	border-radius: 4px 4px 0 0;
	font-size: 0;
	line-height: 0;
	background-color: #3bbfee;
	background: linear-gradient(90deg, #d8225e,#d8225e 16.6%,#b73794 16.6%,#b73794 33.2%,#7254b6 33.2%,
		#7254b6 49.8%,#5951ca 49.8%, #5951ca 66.4%,#3981d1 66.4%,#3981d1 83%,#3bbfee 83%,#3bbfee);
}
.login-field .panel-body{
	background: rgba(187, 187, 187, 0.5);
}
.login-field .form-group{
	margin-bottom: 30px;
	margin-top: 10px;
}