/* Space out content a bit */
body {
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.footer .container {
	padding: 20px;
}

body {
	font-family: "Microsoft Yahei";
}

/* 适配无圆角 */
.navbar.fix-topbar {
	border-radius: 0;
}

/* 添加动画 */
.navbar-brand {
	font-weight: 400;
	font-family: Consolas;
	-moz-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	transition: color 0.3s linear;
}
.navbar-brand:hover {
	text-shadow: 0 0 1px #ccc;
	-moz-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	transition: color 0.3s linear;
}
.navbar-default .navbar-brand:hover {
	color: #DC9778;
}

/* 收件人自动提示 */
.input-name {
	border: none;
	outline: none;
	width: 95px;
	height: 22px;
	line-height: 18px;
	color: #777;
	margin-left: 3px;
	font-size: 12px;
	margin-bottom: 5px;
	vertical-align: middle;
}
/* 表单模拟 */
.sender-group, .copyer-group {
	position: relative;
	min-height: 1px;
	width: 100%;
	padding: 5px 0 0 15px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.select-item {
	cursor: pointer;
	margin-right: 5px;
	font-weight: 500;
	text-shadow: 0 -1px 3px #999;
	padding: .4em .6em .4em;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
}
.input-action {
	position: relative;
}
.input-action .fn-autoComplate {
	position: absolute;
	background-color: #FFF;
	width: 255px;
	border: 1px solid #ccc;
	border-radius: 3px;
	left: 0;
	top: 25px;
	/*font-family: menlo, Consolas, "Microsoft Yahei";*/
	z-index: 99;
}
.input-action .fn-autoComplate .item {
	display: block;
	color: #a5a5a5;
	padding-left: 5px;
	line-height: 25px;
	font-size: 12px;
	margin: 3px 0;
}
.input-action .fn-autoComplate .item:hover {
	background-color: #999;
	color: #FFF;
	text-decoration: none;
}

 
.input-action .fn-autoComplate .item-active {
	background-color: #999;
	color: #FFF;
	text-decoration: none;
}

 
.page-line{
	height: 1px;
	border-top:1px solid #EBEBEB;
	margin: 25px 0;
}

.thisWeek-item,.nextWeek-item{
	position: relative;
	margin-bottom: 15px;

}
.thisWeek-item .thisWeek-add,.nextWeek-item .nextWeek-add{
	position: absolute;
	right: 10px;
	top: 7px;	
	color:#DFDFDF;
	cursor: pointer;
	-webkit-transition:all .2s ease;
}
.thisWeek-item .thisWeek-remove,.nextWeek-item .nextWeek-remove{
	position: absolute;
	right: 30px;
	top: 7px;	
	color:#DFDFDF;
	cursor: pointer;
	-webkit-transition:all .2s ease;
}
.thisWeek-item .thisWeek-remove:hover,.nextWeek-item .nextWeek-remove:hover{
	color:black;
}
.thisWeek-item .thisWeek-add:hover,.nextWeek-item .nextWeek-add:hover{
	color:black;
}
.nextWeek-item .input-group{
	width: 100%;
}
.thisWeek-item .thisWeek-ok{
	outline:none;
	color:#CACACA;
}
.thisWeek-item .thisWeek-ok:hover{
	color:#76B429;
	background-color:white;
}

.thisWeek-item .thisWeek-isok{
	outline:none;
	color: #FFFFFF;
	background-color: #76B429;
}

/* login page */
.square-gradient-bar {
	height: 15px;
	border-radius: 4px 4px 0 0;
	font-size: 0;
	line-height: 0;
	background-color: #3bbfee;
	background: linear-gradient(90deg, #d8225e,#d8225e 16.6%,#b73794 16.6%,#b73794 33.2%,#7254b6 33.2%,
		#7254b6 49.8%,#5951ca 49.8%, #5951ca 66.4%,#3981d1 66.4%,#3981d1 83%,#3bbfee 83%,#3bbfee);
}
.login-field .panel-body{
	background: rgba(187, 187, 187, 0.5);
}
.login-field .form-group{
	margin-bottom: 30px;
	margin-top: 10px;
}
 
 
/* 快速收件人 */
.quick-add {
	margin-right: 17px;
}
 
 