 
<div class="art-list">
	<div class="art-header row" >
		<span class="col-sm-1">序号</span>
		<span class="col-sm-3">主题</span>
		<span class="col-sm-5">摘要</span>
		<span class="col-sm-3">日期</span>
	</div>
	<ul>
		<li ng-repeat="article in list" ng-arttab>
			<div class="art-summary row" ng-init="showContent=false" ng-if="!showContent" ng-click="triggerArt(true,null)" >
				<span class="col-sm-1">{{$index + 1}}</span>
				<span class="col-sm-3">{{article.author | limitTo : 10}}的分享</span>
				<span class="col-sm-5">{{article.contentTxt | limitTo : 47}}...</span>
				<span class="col-sm-3">{{article.createAt | date:"yyyy-MM-dd"}}</span>
			</div>

			<div class="art-content row" ng-if="showContent" >
				<div class="art-content-title col-sm-12" >
					<div class="art-content-title-sub">
						{{article.subject}}
						<div ng-click="triggerArt(false,$event)" class="art-content-close"><i class="glyphicon glyphicon-chevron-up"></i></div>
					</div>
					<div class="art-content-title-auth">
						<span>{{article.author}} {{article.createAt| date:"yyyy-MM-dd"}}</span>
					</div>

				</div>
				<div class="art-content-main col-sm-12" ng-bind-html="article.content">
				</div>
				<div class="art-content-close-tip col-sm-12" ng-click="triggerArt(false,$event)">
					<a href="javascript:void(0)">收回内容</a>
				</div>
			</div>
		</li>
	</ul>
</div>