<div class="m-features-wrap">
	<div class="m-features features_main">
		<img src="/images/feature/feature_main.jpg" alt="">
		<div class="btn-wrap">
			<a href="/report/edit" class="btn btn-start">立即体验</a>
		</div>
		<img src="/images/feature/feature_text.jpg" alt="">
	</div>
	<div class="m-features feature_one">
		<img src="/images/feature/feature_one.jpg" alt="">
	</div>

	<div class="m-features feature_two">
		<img src="/images/feature/feature_two.jpg" alt="">
	</div>

	<div class="m-features feature_bottom">
		<img src="/images/feature/feature_bottom.jpg" alt="">
	</div>
</div>
