
<div class="row">
  <div class="col-sm-12">
    <h1>Login</h1>
    <p>Accounts are reset on server restart from <code>dummydata.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
  </div>
  <div class="col-sm-12">
    <form class="form" name="form" ng-submit="login(form)" novalidate>

      <div class="alert alert-danger" ng-show="errors.other.length">
        {{ errors.other }}
      </div>
      <div class="input-group input-group-lg form-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" name="email" class="form-control" ng-model="user.email" placeholder="Email" required>
      </div>

      <div class="input-group input-group-lg form-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password" required>
      </div>

      <button type="submit" class="btn btn-lg btn-primary"> Sign in </button>
    </form>
  </div>
</div>