
<div class="g-main">
  <div class="col-md-2">
	  <div class="m-user row">
		  <div class="user-photo-wrap">
		  	<img class="user-photo" src="{{ currentUser.avatar }}" width="100" height="100" />
		  </div>
	  	<div class="m-user-info">
	  		<p class="m-user-name">{{ currentUser.name }}</p>
	  		<p class="m-user-other">{{ currentUser.jobNumber }} </p>
	  		<p class="m-user-other">{{ currentUser.group }}</p>
	  	</div>
	  	<div class="m-user-desc">
	  		<span class="m-user-reportcount col-sm-9"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;已发周报</span>
	  		<span class="repoCount col-sm-3"><span class="badge">{{ currentUser.reportCount||0 }}<span></span>
	  	</div>
	   	<div class="m-user-last" ng-if="currentUser.lastDate">
	   		<p>上篇周报发送时间：</p>
	   		<p>{{ currentUser.lastDate }}</p>
	   	</div>
	  </div>
	  <div class="m-curWeek row m-index-block">
	  	<div class="m-curWeek-title"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;本周工作</div>
	  	<ol class="m-curWeek-content">
        <li ng-show="!workList.nextWeek">暂无，发一封周报试试？</li>
	  		<li ng-repeat="task in workList.nextWeek">
	  			{{task.content}}
	  		</li>
	  	</ol>
	  </div>
    <div class="row">
    <a href="###"><img src="/images/ad.jpg" alt=""></a>
    </div>
  </div>
  <div class="col-md-10">
  		<div class="m-share m-index-block">
  			<div class="m-share-title">
  				<span>来自大家的分享</span>
  			</div>
  			<div class="m-share-content">
  				<ul>
  					<li ng-repeat="news in newsList">
  						<a href="/article/{{news._id}}/show">{{news.author}}:&nbsp;&nbsp;{{news.contentTxt}}</a>
  					</li>
  				</ul>
  			</div>
  			<div class="m-share-footer">
  				<a href="/article/list">更多>></a>
  			</div>
  		</div>

  		<div class="m-repo m-index-block">
  			<div class="m-repo-title">
  				<span>我的周报</span>
  			</div>
  			<div class="m-repo-content">
  				<ul>
            <li ng-if="!repoList.length">暂无周报，点击下方新建周报。</li>
  					<li ng-repeat="repo in repoList">
  						<a href="/report/edit/{{repo._id}}">{{repo.subject}}</a>
  			      <span ng-switch on="repo.status">
                <span class="label label-default" ng-switch-when="0">未发送</span>
                <span class="label label-success" ng-switch-when="1">已发送</span>
                <span class="label label-danger" ng-switch-when="3">发送失败</span>
              </span>
  					</li>
  				</ul>
  			</div>
  			<div class="m-repo-footer">
          <span class="m-repo-create"><i class="glyphicon glyphicon-plus"></i>&nbsp;<a href="/report/edit">新建周报</a></span>
  			</div>
       
  		</div>
  </div>
</div>

