
<ol class="breadcrumb">
	<li><a href="/report">周报列表</a></li>
	<li class="active">编辑</li>
</ol>

<div class="col-md-8 col-md-offset-1">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<div class="btn-group quick-add pull-right">
				<button type="button" class="btn btn-success btn-sm">快速添加收件人</button>
				<button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="javascript:void(0);" ng-click="switchSenders('1')">前端组</a></li>
					<li><a href="javascript:void(0);" ng-click="switchSenders('2')">应用一组</a></li>
					<li><a href="javascript:void(0);" ng-click="switchSenders('3')">应用二组</a></li>
				</ul>
			</div>
		</div>
		<div class="form-group">
			<label for="to" class="col-sm-2 control-label">收件人 </label>
			<!-- <div class="col-sm-10">
				<input type="text" class="form-control" name="to" ng-model="report.to" placeholder="to">
			</div> -->
			<div class="col-sm-10">
				<div class="sender-group clearfix">
					<span ng-repeat="sender in senders" title="点击删除" ng-click="removeSender(sender.name)" class="label label-success select-item pull-left">{{sender.name}}</span>
				
					<div class="input-action pull-left">
						<input type="text" class="input-name" value="{{currentSender}}" ng-change="autoComplateSender(currentSender)" ng-model="currentSender" autofocus="autofocus" placeholder="添加收件人">
					
						<div class="fn-autoComplate" ng-if="currentSenders" typeahead>
							<a href="javascript:void(0);" class="item" ng-repeat="sender in currentSenders" ng-click="addSender(sender.name)">{{sender.name}}&nbsp;&nbsp;&lt;{{sender.email}}&gt;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="cc" class="col-sm-2 control-label">抄送 </label>
			<!-- <div class="col-sm-10">
				<input type="text" class="form-control" name="cc" ng-model="report.cc" placeholder="cc">
			</div> -->
			<div class="col-sm-10">
				<div class="copyer-group clearfix">
					<span ng-repeat="copyer in copyers" title="点击删除" ng-click="removeCopyer(copyer.name)" class="label label-primary select-item pull-left">{{copyer.name}}</span>

					<div class="input-action pull-left">
						<input type="text" class="input-name" value="{{currentCopyer}}" ng-change="autoComplateCopyer(currentCopyer)" ng-model="currentCopyer" placeholder="添加抄送人">
					
						<div class="fn-autoComplate" ng-if="currentCopyers">
							<a href="javascript:void(0);" class="item" ng-repeat="copyer in currentCopyers" ng-click="addCopyer(copyer.name)">{{copyer.name}}&nbsp;&nbsp;&lt;{{copyer.email}}&gt;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="subject" class="col-sm-2 control-label">标题 </label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="subject" ng-model="report.subject" placeholder="Subject">
			</div>
		</div>
		<div class="form-group">
			<label for="html" class="col-sm-2 control-label">正文 </label>
			<div class="col-sm-10">
				<textarea name="html" rows="20" class="form-control" ng-model="report.html"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10 text-right">
				<span ng-if="report._id">上次保存：{{report.updateAt}}</span>
				<span class="text-danger" ng-if="!report._id">未保存</span>
				<button type="submit" class="btn btn-primary" ng-click="save()">保存</button>
				<button type="submit" class="btn btn-danger" ng-click="send()">发送</button>
			</div>
		</div>
	</form>
</div>
