<div class="row">
  <div class="col-sm-12">
    <h1>修改个人信息</h1>
  </div>
  <div class="col-sm-12">
    <form class="form" name="form" ng-submit="changeInfo(form)" novalidate>

      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                          'has-error': form.name.$invalid && submitted }">
        <label>姓名</label>

        <input type="text" name="name" class="form-control" ng-model="user.name"
               required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          请填写您的姓名。
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.jobNumber.$valid && submitted,
                                          'has-error': form.jobNumber.$invalid && submitted }">
        <label>工号</label>
        
        <input type="text" name="jobNumber" class="form-control" ng-model="user.jobNumber"
               ng-pattern="/^(CY|SX)(\d{4})$/"
               required
               mongoose-error/>
        <p class="help-block"
           ng-show="(form.jobNumber.$error.pattern || form.jobNumber.$error.required) && submitted">
          请填写工号，格式为CYxxxx或SXxxxx。
        </p>
        <p class="help-block" ng-show="form.jobNumber.$error.mongoose">
          {{ errors.jobNumber }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.group.$valid && submitted,
                                          'has-error': form.group.$invalid && submitted }">
        <label>职能组</label>
        <select name="group" class="form-control" ng-model="user.group" ng-init="user.group=''" required mongoose-error>
          <option value="">-Select One-</option>
          <option value="1">技术-应用一组</option>
          <option value="2">技术-应用二组</option>
          <option value="3">技术-系统组</option>
          <option value="4">技术-前端组</option>
          <option value="5">技术-Android组</option>
          <option value="6">设计-WebUI</option>
          <option value="7">设计-FlashUI</option>
        </select>
      </div>

      <div class="form-group">
        <label>默认周报收件人</label>
        <div recipient ng-recp-data="user.receivers.to" ng-recp-style="label-success"></div>
      </div>

      <div class="form-group">
        <label>默认周报抄送人</label>
        <div recipient ng-recp-data="user.receivers.cc" ng-recp-style="label-primary"></div>
      </div>
      <div class="alert alert-success" ng-show="message.length">
        {{ message }}
      </div>

      <button class="btn btn-lg btn-primary" type="submit">保存信息</button>
    </form>
  </div>
</div>