<style>
  html{
    overflow-y: hidden;
  }

</style>
<div class="row" ng-if="user.email && user.status==0">
    <div class="signup">
        <form class="form" name="form" ng-submit="register(form)" novalidate>
          <div class="signup-step1" ng-if="step==1">
              <div class="step-title">
                  <!-- <img src="/images/signup-title1.jpg"> -->
                  <h1>欢迎使用xOcean!</h1>
                  <h3>请填写用户信息以完成注册。</h3>
              </div>
                <!-- 邮箱 -->
                <div class="form-group form-email" ng-class="{ 'has-success': form.email.$valid && firstSubmitted,'has-error': form.email.$invalid && firstSubmitted }">
                  <label><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;邮箱</label>

                  {{user.email}}
                </div>
                <!-- 真实姓名 -->
                <div class="form-group" ng-class="{ 'has-success': form.name.$valid && firstSubmitted,'has-error': form.name.$invalid && firstSubmitted }">
                  <label><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;真实姓名</label>

                  <input type="text" name="name" class="form-control" ng-model="user.name" value="{{user.name}}" required/>
                  <p class="help-block" ng-show="form.name.$error.required && firstSubmitted">
                    请填写您的姓名。
                  </p>
                </div>
                <!-- 密码 -->
                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && firstSubmitted,'has-error': form.password.$invalid && firstSubmitted }">
                  <label><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;密码</label>
                  <input type="password" 
                         name="password" 
                         class="form-control" 
                         ng-model="user.password"
                         ng-minlength="3"
                         required
                         mongoose-error/>

                  <p class="help-block"
                     ng-show="(form.password.$error.minlength || form.password.$error.required) && firstSubmitted">
                    密码至少三位。
                  </p>
                  <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ errors.password }}
                  </p>
                </div>
                <!-- 确认密码 -->
                <div class="form-group" ng-class="{ 'has-success': !form.rePassword.$error.dontMatch && firstSubmitted,'has-error': form.rePassword.$error.dontMatch && firstSubmitted }">
                  <label><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;确认密码</label>
                  <input type="password" 
                         name="rePassword" 
                         class="form-control" 
                         ng-minlength="3"
                         ng-required
                         ng-model="user.rePassword" 
                         ng-change="checkPassword(form)"
                         />

                  <p class="help-block"
                     ng-show="(form.rePassword.$error.dontMatch && firstSubmitted)">
                    两次输入密码不同！ 
                  </p>
                  <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ errors.password }}
                  </p>
                </div>
                <!-- 下一步按钮 -->
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="nextStep(form)">下一步</button>
                <div class="form-group">
                  <hr>
                  已经有账号了？ <a href="/login" class="text-center new-account">登陆 </a>
                </div>
          </div>
          <!-- 表单第二页 -->
          <div class="signup-step2" ng-if="step==2">
                <div class="step-title">
                  <!-- <img src="/images/signup-title1.jpg"> -->
                  <h1>最后一步!</h1>
                  <h3>填写详细资料以便于更加快捷的发送周报。</h3>
                </div>
                <!-- 工号 -->
                <div class="form-group" ng-class="{ 'has-success': form.jobNumber.$valid && submitted,'has-error': form.jobNumber.$invalid && submitted }">
                  <label>工号</label>

                  <input type="text" name="jobNumber" class="form-control" ng-model="user.jobNumber"
                         ng-pattern="/^(CY|SX)(\d{4})$/"
                         required
                         mongoose-error/>
                  <p class="help-block"
                     ng-show="(form.jobNumber.$error.pattern || form.jobNumber.$error.required) && submitted">
                    请填写工号，格式为CYxxxx或SXxxxx。
                  </p>
                  <p class="help-block" ng-show="form.jobNumber.$error.mongoose">
                    {{ errors.jobNumber }}
                  </p>
                </div>

                <!-- 职能组选择 -->
                <div class="form-group" ng-class="{ 'has-success': form.group.$valid && submitted,'has-error': form.group.$invalid && submitted }">
                  <label>职能组</label>
                  <select name="group" class="form-control" ng-model="user.group" ng-init="user.group=''" required mongoose-error>
                    <option value="">-Select One-</option>
                    <option value="1">技术-应用一组</option>
                    <option value="2">技术-应用二组</option>
                    <option value="3">技术-系统组</option>
                    <option value="4">技术-前端组</option>
                    <option value="5">技术-Android组</option>
                    <option value="6">设计-WebUI</option>
                    <option value="7">设计-FlashUI</option>
                  </select>
                </div>

                <!-- 周报收件人 -->
                <div class="form-group">
                  <label>默认周报收件人</label>
                  <div recipient ng-recp-data="user.receivers.to" ng-recp-style="label-success"></div>
                </div>

                <!-- 周报抄送人 -->
                <div class="form-group">
                  <label>默认周报抄送人</label>
                  <div recipient ng-recp-data="user.receivers.cc" ng-recp-style="label-primary"></div>
                </div>

                <!-- 上一步按钮 -->
                <button class="btn btn-lg btn-block btn-primary" type="button" ng-click="preStep()">上一步</button>
                <button class="btn btn-lg btn-block btn-primary" type="submit">注 册</button>
          </div>
        
        </form>
    </div>
</div>
<div ng-if="user.err || !user.email">
  <h1>Sorry,激活链接无效，请联系管理员!</h1>
</div>
<div ng-if="user.status==1">
  <h1>Sorry,{{user.email}},您已经注册了!</h1>
</div>
 