
<div class="row" ng-if="user.email">
  <div class="col-sm-12">
    <h1>Hello,{{user.email}}!</h1>
  </div>
  <div class="col-sm-12">
    <form class="form" name="form" ng-submit="register(form)" novalidate>
      
      <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                          'has-error': form.email.$invalid && submitted }">
        <label>Email</label>

        <input type="email" name="email" class="form-control" value="{{user.email}}" disabled="1"/>
        <p class="help-block" ng-show="form.email.$error.email && submitted">
          Doesn't look like a valid email.
        </p>
        <p class="help-block" ng-show="form.email.$error.required && submitted">
          What's your email address?
        </p>
        <p class="help-block" ng-show="form.email.$error.mongoose">
          {{ errors.email }}
        </p>
      </div>
      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                          'has-error': form.name.$invalid && submitted }">
        <label>Name</label>

        <input type="text" name="name" class="form-control" ng-model="user.name"
               required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A name is required
        </p>
      </div>   

      <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                          'has-error': form.password.$invalid && submitted }">
        <label>Password</label>
        
        <input type="password" name="password" class="form-control" ng-model="user.password"
               ng-minlength="3"
               required
               mongoose-error/>
        <p class="help-block"
           ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
          Password must be at least 3 characters.
        </p>
        <p class="help-block" ng-show="form.password.$error.mongoose">
          {{ errors.password }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.group.$valid && submitted,
                                          'has-error': form.group.$invalid && submitted }">
        <label>Select Group</label>
        <select name="group" class="form-control" ng-model="user.group" ng-init="user.group='0'" required mongoose-error>
          <option value="0">-Select One-</option>
          <option value="1">技术-应用一组</option>
          <option value="2">技术-应用二组</option>
          <option value="3">技术-系统组</option>
          <option value="4">技术-前端组</option>
          <option value="5">技术-Android组</option>
          <option value="6">设计-WebUI</option>
          <option value="7">设计-FlashUI</option>
        </select>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.receivers.$valid && submitted,
                                          'has-error': form.receivers.$invalid && submitted }">
        <label>Reports Receivers(separated by "," or ";")</label>
        <input name="receivers" class="form-control" ng-model="user.receivers" ng-show="show1" ng-blur="showReceivers($event.currentTarget.value);" required mongoose-error/>
        <div class="form-control" ng-show="show2" ng-click="editReceivers($element)">
          <button type="button" class="btn btn-primary btn-xs" ng-repeat="receriver in showReceiversArray">{{receriver}}</button>
        </div>
      </div>

      <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
    </form>
  </div>
</div>
<div ng-if="user.err">
  <div class="col-sm-12">
    <h1>Sorry,{{user.err}}!</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <hr>
    Have an account? <a href="/login" class="text-center new-account">Log in.</a>
  </div>
</div>