
<div class="btn-wrap mtb20 clearfix" ng-init="isAdd=false">
	<button class="ml-10 btn btn-purple glyphicon glyphicon-send pull-right"> Send</button>
	<button ng-class="{true:'ml-10 btn btn-primary glyphicon glyphicon-floppy-disk pull-right', false:'hidden'}[isAdd]" ng-click="addAllUser($event)">Save</button>
	<button ng-class="{true:'hidden', false:'ml-10 btn btn-success glyphicon glyphicon-plus pull-right'}[isAdd]" class="" ng-click="isAdd=true" > Add</button>
</div>

<div ng-class="{true:'form-wrap mtb20 clearfix', false:'hidden'}[isAdd]">

	<div class="input-group col-lg-6 pull-right">
		<input type="text" class="form-control" name="addMoreUser" placeholder="批量添加用户，以逗号分隔，默认为邮箱后缀为cyou-inc.com, 回车自动添加"
			ng-model="volumeUser"
			ng-keydown="addAllUser($event)"
			>
		<div class="input-group-btn">
			<input type="hidden" class="form-control" name="emailSuffix" ng-model="emailSuffix" >
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			{{emailSuffix}}<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="email-suffix">
			<li><a href="javascript:void(0)" ng-click="emailSuffix='@cyou-inc.com'">@cyou-inc.com</a></li>
			<li><a href="javascript:void(0)" ng-click="emailSuffix='@126.com'">@126.com</a></li>
			</ul>
		</div>
		<div class="input-group-btn">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right" role="user-group">
				<li ng-repeat="group in userGroup"><a href="javascript:void(0)" ng-click="addGroupUser(group.users)">{{group.name}}</a></li>
			</ul>
		</div>
	</div>

</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>name</th>
			<th>Email</th>
			<th>Status</th>
			<th>role</th>
			<th>Manage</th>
		</tr>
	</thead>
	<tr ng-repeat="user in list">
		<td><input type="checkbox" name="userId" value="{{user._id}}"/></td>
		<td contentEditable="true">
			{{user.name}}
		</td>
		<td contentEditable="true">
			{{user.email}}
		</td>
		<td ng-switch on="user.status">
			<span class="label label-default" ng-switch-when="0">未注册</span>
			<span class="label label-success" ng-switch-when="1">已注册</span>
		</td>
		<td>
			{{user.role}}
		</td>
		<td ng-switch on="user.status">
			<a href="javascript:void(0)" ng-click="send(user._id)" ng-switch-when="0">Resend</a>
			<a href="javascript:void(0)" ng-click="resetStatus(user._id)" ng-switch-when="1">Reset</a>
		</td>
	</tr>

	<tr>
		<td colspan="4" class="well text-center" ng-if="!list.length">
			<p>记录为空！</p>
		</td>
	</tr>
</table>